exe/
dev/*.obj
dev/build/
.claude/
dev/imgui/.github/
dev/imgui/docs/
dev/imgui/examples/
dev/imgui/misc/
dev/imgui/imgui_demo.cpp
dev/imgui/.editorconfig
dev/imgui/.gitattributes
dev/imgui/.gitignore
dev/imgui/backends/imgui_impl_allegro5.*
dev/imgui/backends/imgui_impl_android.*
dev/imgui/backends/imgui_impl_dx9.*
dev/imgui/backends/imgui_impl_dx10.*
dev/imgui/backends/imgui_impl_dx12.*
dev/imgui/backends/imgui_impl_glfw.*
dev/imgui/backends/imgui_impl_glut.*
dev/imgui/backends/imgui_impl_metal.*
dev/imgui/backends/imgui_impl_null.*
dev/imgui/backends/imgui_impl_opengl*
dev/imgui/backends/imgui_impl_osx.*
dev/imgui/backends/imgui_impl_sdl*
dev/imgui/backends/imgui_impl_vulkan.*
dev/imgui/backends/imgui_impl_wgpu.*
dev/imgui/backends/sdlgpu3/
dev/imgui/backends/vulkan/
